<nav class="navbar navbar-inverse navbar-static-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/exchange/participate/dashboard">Dashboard</a>
    </div>
    <div id="navbar">
      <ul class="nav navbar-nav">
        <li>
          <a href="#">Profile</a>
        </li>
        <li>
          <a href="/participate/invite">Invite</a>
        </li>
        <li>
          <a href="/">Back to Space</a>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="#">Logged in as {{ user }}</a>
        </li>
        <li>
          <a href="/logout/">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
