{% extends 'exchange/explore/base.html' %}

{% block content %}
  <div class="header">
    <div class="enter text-center">
      <h3>Explore the possibility space</h3>
    </div>
    <div class="content col-md-12">
      <div class="row">
        <div class="col-md-4">
          <div class="explore-pane">
            <h3 class="text-center"><i class="fa fa-random fa-3x"></i></h3>
          </div>
        </div>
        <div class="col-md-4">
          <div class="explore-pane">
            <h3 class="text-center"><i class="fa fa-refresh fa-3x"></i></h3>
          </div>
        </div>
        <div class="col-md-4">
          <div class="explore-pane">
            <h3 class="text-center"><i class="fa fa-share fa-3x"></i></h3>
          </div>
        </div>
      </div>
    <div class="faq">
      <h3>Questions</h3>
      <hr />
      <div class="question">
        <h4>What's this all about?</h4>
        <p>
          I made a site for us to play a round of networked secret santa. Maybe I'll put other things on here later. It's a great domain name, right?
        </p>
      </div>
      <div class="question">
        <h4>Why?</h4>
        <p>
          Too many of my friends live far away now, and I can't afford gifts for everyone anyways, but I still wanted to cheer you up. Cards Against Humanity <a href="https://holidayhole.com/">dug a giant hole</a> to celebrate the season. My inner nihilist loves that, and perversely enough, it's inspired me to do something nice.
        </p>
      </div>
      <div class="question">
        <h4>Who's this for?</h4>
        <p>
          Friends and friends of friends. We'll see how big it gets. Don't have an invite code but want to participate? <a href="mailto:space.possibility@gmail.com">Ask for one.</a>
        </p>
      </div>
      <div class="question">
        <h4>When's it over?</h4>
        <p>
          The first round is December 2016. I'll send everyone a summary of how it went after New Year's. If this works, we'll keep it going.
        </p>
      </div>
      <div class="question">
        <h4>Couldn't you achieve this through a facebook group?</h4>
        <p>
          Probably, except I don't use facebook. But I code and I love you. <3
        </p>
      </div>
      <div class="question">
        <h4>It's broken.</h4>
        <p>
          The site, your faith in humanity, or the world? The first maybe I can fix, the second maybe you can, and the third... well maybe there's a decent chance of improvement if more of us try. No guarantees. Email <a href="mailto:space.possibility@gmail.com">space.possibility@gmail.com</a>
        </p>
      </div>
      <div class="question">
      </div>
    </div>
    </div>
  </div>
{% endblock %}
