{% extends 'exchange/participate/layouts/base.html' %}

{% block content %}
  <div class="header">

    <div class="container">
      {% include "exchange/participate/layouts/navbar.html" %}
      <div class="enter text-center">
        <h3>Give Gift</h3>
      </div>

        <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <div class="panel panel-login">
            <div class="panel-heading">
              <div class="row">
                <div class="panel-body">
                  <div class="row">
                    <div class="col-lg-12">
                      Here's a random gift request in the category you selected. Do you want to accept this gift request?
                      <div class="request-item">
                        {{ item.description }}
                      </div>
                      If so, click Accept. If you want to pick a different request, click Match Again.
                      <a href="/participate/give/accept"><button type="button" class="btn">Accept</button></a>
                      <a href="/participate/give/confirm"><button type="button" class="btn">Match Again</button></a>
                    </div>
                  </div>
                </div>
              </div>
              <hr>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
{% endblock %}
