{% extends 'exchange/participate/layouts/base.html' %}

{% block content %}
  <div class="header">

    <div class="container">
        {% include "exchange/participate/layouts/navbar.html" %}

        <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <div class="panel panel-login">
            <div class="panel-heading">
              <div class="row">
                <div class="panel-body">
                  <div class="row">
                    <div class="col-lg-12">

                      <form id="register-form" action="/participate/request" method="post" role="form">
                        {% csrf_token %}

                        {% if req_form.errors %}
                          <ul class='form-errors'>
                              {% for error in req_form.non_field_errors %}
                                  <li>{{ error }}</li>
                              {% endfor %}
                          </ul>
                        {% else %}
                            <h3>Make a request, or leave it to chance</h3>
                            <div class="form-group">
                              <label>Category</label>
                              <select name="category" tabindex="1" class="form-control" >
                               <option value="1">Random</option>
                               <option value="2">Something that can be bought</option>
                               <option value="3">Something that can created</option>
                              </select>
                            </div>
                            <div class="form-group">
                              <label>Is there a link for your request or whatever it is you want?</label>
                              <input type="text" name="link" id="link" tabindex="1" class="form-control" placeholder="Link" value="">
                            </div>
                            <div class="form-group">
                              <label>Describe your request, in 100 words or less.</label>
                              <input type="text" name="description" id="description" tabindex="1" class="form-control" placeholder="Description">
                            </div>
                            <div class="form-group">
                              <div class="row">
                                <div class="col-sm-6 col-sm-offset-3">
                                  <input type="submit" name="request-submit" id="request-submit" tabindex="4" class="form-control btn btn-request" value="Ask">
                                </div>
                              </div>
                            </div>
                          </form>
                        {% endif %}
                    </div>
                  </div>
                </div>
              </div>
              <hr>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
{% endblock %}
