{% extends 'exchange/participate/layouts/base.html' %}

{% block content %}
  <div class="header">

    <div class="container">

      {% include "exchange/participate/layouts/navbar.html" %}

      <div class="jumbotron">
        <div class="row">
          <div class="panel">
            <div class="row">
              <div class="col-md-6">
                <p>
                  Logged in as:
                  {{ user }}
                </p>
                <p>
                  Your bio:
                  {{ profile.bio }}
                </p>
                <p>
                  Your address:
                  {{ profile.address }}
                </p>
                <p>
                  Number of friends you've invited:
                  {{ profile.num_invited }}
                </p>

                {% if profile.bio != '' and profile.address != '' %}
                  <a href="/participate/profile"><button type="button" class="btn">Edit Profile</button></a>
                {% else %}
                  <a href="/participate/profile"><button type="button" class="btn">Create Profile</button></a>
                {% endif %}

                <a href="/participate/invite"><button type="button" class="btn">Invite friends</button></a>
              </div>

              <div class="col-md-6">
                <div class="row">
                  <p>
                    Number of requests you've made:
                  </p>
                  <p>
                    Number of gifts you've given:
                  </p>
                </div>
                <a href="/participate/request"><button type="button" class="btn">Create Request</button></a>
                <a href="/participate/give"><button type="button" class="btn">Give Gift</button></a>
              </div>

            </div>
          </div>
        </div>
      </div>

      </div>



  </div>
{% endblock %}
