{% extends 'exchange/participate/layouts/base.html' %}

{% block content %}
  <div class="header">

    <div class="container">

      {% include "exchange/participate/layouts/navbar.html" %}

      <div class="jumbotron">
        <div class="row">
          <div class="panel">
            <div class="row">
              {% for message in messages %}
                  <p>{{ message }}</p>
              {% endfor %}
            </div>

            <div class="row requests-gifts">
              <div class="col-md-6">
                  <h3>Ask</h3>
                  {% if requests %}
                    {% for req in requests %}
                      <p class="description">
                        You asked for "{{ req }}". Remember to <a href="/participate/request/complete">record when someone gets it for you!</a>
                      </p>
                      <div class="cube-container">
                        <div class="wrap">
                          <div class="cube no-spin">
                            <div class="pending front">
                              <p class="in-cube text">
                                <a href="">{{ req }}</a>
                              </p>
                            </div>
                            <div class="pending back"></div>
                            <div class="pending top"></div>
                            <div class="pending bottom"></div>
                            <div class="pending left"></div>
                            <div class="pending right"></div>
                          </div>
                        </div>
                      </div>
                    {% endfor %}
                  {% else %}
                    <p>
                      You haven't yet <a href="/participate/request">created a gift request.</a>
                    </p>
                    <div class="cube-container">
                      <div class="wrap">
                        <div class="cube no-spin">
                          <div class="front">
                            <p class="in-cube text">
                              <a href="/participate/request">...?</a>
                            </p>
                          </div>
                          <div class="back"></div>
                          <div class="top"></div>
                          <div class="bottom"></div>
                          <div class="left"></div>
                          <div class="right"></div>
                        </div>
                      </div>
                    </div>
                  {% endif %}
              </div>
              <div class="col-md-6">
                <h3>Give</h3>
                  {% if gifts %}
                    {% for gift in gifts %}
                      {% if gift.complete == False %}
                        <p class="description">
                          You're matched with {{ gift.receiver }}, who asked for "{{ gift }}". Be sure to <a href="/participate/give/complete">record when you complete the exchange!</a>
                        </p>
                        <div class="cube-container">
                          <div class="wrap">
                            <div class="cube no-spin">
                              <div class="pending front">
                                <p class="in-cube text">
                                  <a href="">{{ gift }}</a>
                                </p>
                              </div>
                              <div class="pending back"></div>
                              <div class="pending top"></div>
                              <div class="pending bottom"></div>
                              <div class="pending left"></div>
                              <div class="pending right"></div>
                            </div>
                          </div>
                        </div>
                      {% endif %}
                    {% endfor %}
                    <!-- <p>
                      <a href="/participate/give">Give another gift!</a>
                    </p> -->
                  {% else %}
                    <p>
                      You haven't yet <a href="/participate/give">given a gift.</a>
                    </p>
                    <div class="cube-container">
                      <div class="wrap">
                        <div class="cube no-spin">
                          <div class="front">
                            <p class="in-cube text">
                              <a href="/participate/give">...?</a>
                            </p>
                          </div>
                          <div class="back"></div>
                          <div class="top"></div>
                          <div class="bottom"></div>
                          <div class="left"></div>
                          <div class="right"></div>
                        </div>
                      </div>
                    </div>
                  {% endif %}
              </div>
            </div>


          </div>
        </div>
      </div>

      </div>



  </div>
{% endblock %}
