{% extends 'exchange/participate/layouts/base.html' %}

{% block content %}
  <div class="header">

    <div class="container">

      {% include "exchange/participate/layouts/navbar.html" %}

      <div class="jumbotron">
        <div class="row">
          <div class="panel">
            <div class="row">
              {% for message in messages %}
                  <p>{{ message }}</p>
              {% endfor %}
            </div>

            <div class="row requests-gifts">
              <div class="col-md-6">
                  <h3>Ask</h3>
                  {% if requests %}
                    {% for req in requests %}
                      <p>
                        {{ req }}
                      </p>
                      <div class="cube-container">
                        <div class="wrap">
                          <div class="cube no-spin">
                            <div class="pending front">
                              <p class="in-cube text">
                                <a href="/participate/request"></a>
                              </p>
                            </div>
                            <div class="pending back"></div>
                            <div class="pending top"></div>
                            <div class="pending bottom"></div>
                            <div class="pending left"></div>
                            <div class="pending right"></div>
                          </div>
                        </div>
                      </div>
                    {% endfor %}
                  {% else %}
                    <p>
                      You haven't yet <a href="/participate/request">created a gift request.</a>
                    </p>
                    <div class="cube-container">
                      <div class="wrap">
                        <div class="cube no-spin">
                          <div class="front">
                            <p class="in-cube text">
                              <a href="/participate/request">...?</a>
                            </p>
                          </div>
                          <div class="back"></div>
                          <div class="top"></div>
                          <div class="bottom"></div>
                          <div class="left"></div>
                          <div class="right"></div>
                        </div>
                      </div>
                    </div>
                  {% endif %}
              </div>
              <div class="col-md-6">
                <h3>Give</h3>
                  {% if gifts %}
                    {% for gift in gifts %}
                      <p>
                        {{ gift }}
                      </p>
                    {% endfor %}
                    <p>
                      Give another gift:
                    </p>
                    <div class="row">
                      <div class="col-md-12">
                        <a href="/participate/give"><button type="button" class="btn">Give Gift</button></a>
                      </div>
                    </div>
                  {% else %}
                    <p>
                      You haven't yet <a href="/participate/give">given a gift.</a>
                    </p>
                    <div class="cube-container">
                      <div class="wrap">
                        <div class="cube no-spin">
                          <div class="front">
                            <p class="in-cube text">
                              <a href="/participate/give">...?</a>
                            </p>
                          </div>
                          <div class="back"></div>
                          <div class="top"></div>
                          <div class="bottom"></div>
                          <div class="left"></div>
                          <div class="right"></div>
                        </div>
                      </div>
                    </div>
                  {% endif %}
              </div>
            </div>
            <!--
            <p>
              TEMP
            </p>
            <a href="/participate/request"><button type="button" class="btn">Create Request</button></a>
            <a href="/participate/give"><button type="button" class="btn">Give Gift</button></a> -->


          </div>
        </div>
      </div>

      </div>



  </div>
{% endblock %}
